.hero {
    text-align: center;
}
.title {
    background-color: #f7b217;
    font-size: 40px;
    color: #fce4ae;
    font-weight: 600;
    padding: 20px 80px;
    border-radius: 10px;
    text-align: center;
}

.desc {
    color: #FFFFFF;
    letter-spacing: 0.0025em;
    text-align: center;
    line-height: 46px;
    font-style: normal;
    font-weight: normal;
    font-size:28px;
    margin-top: 20px;
}

.card__welcome {
    margin: 50px;
    padding: 50px 70px;
    border-width: 2px;
    border-color: #e9e8f6;
    border-radius: 10px;
}

@media (max-width: 640px) { 
    .title {
        font-size: 20px;
        padding: 10px 20px;
    }
    
    .desc {
        letter-spacing: 0.0025em;
        text-align: center;
        line-height: 46px;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
    }

    .card__welcome {
        margin: 20px 15px;
        padding: 30px 10px;
    }
}

