#footer{
    color: white;
    text-align: center;
}
#footer-content{
    text-align: center;
    padding: 20px 10px;
    background-color: #3f3d56;
}
#title{
    font-size: 30px;
    font-weight: 370;
    padding: 15px 15px;
    border-bottom: solid #f7b217 12px;
}
#copyright{
    background-color: #2e2c49;
    font-size: 22px;
    font-weight: lighter;
    padding: 40px 0px;
}
.socials{
    margin: 25px;
}