.navbar {
    min-height: 100px;
    background-color: #2e2c49;
    padding: 0 !important;
}
.logo{
    margin-left: 15px;
    height: 50px;
}

.nav-items {
    margin: 0;
}
.nav-links {
    width: 130px;
}
.text-active {
    color: #F7B217 !important;
}
/* .nav-links{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 75%;
} */
.home, .hasil, .logout{
    text-decoration: none;
    color: white;
    font-size: 21px;
    font-weight: 370;
    padding: 10px 20px;
    margin: 0px 10px;
}
.home:hover, .hasil:hover, .logout:hover,
.home:visited, .hasil:visited, .logout:visited{
    color: white;
}
.logout{
    margin-right: 60px;
}
@media (min-width: 576px) and (max-width: 767.98px) { 
    .nav-links {
        width: auto;
    }
    .nav-items {
        padding: 10px 0;
    }
}
@media (max-width: 576px) { 
    .nav-links {
        width: auto;
    }
    .nav-items {
        padding: 10px 0;
    }
}