.box {
    border: 1px #B2B2B2 solid;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    color: #3F3D56;
    margin: auto;
}

.total-suara {
    font-weight: bold;
}

.calon {
    margin-top: -12px;
}

.contents {
    margin: auto;
}

.deskripsi {
    font-weight: bold;
    padding-top: 15%;
}

.paragraf {
    background-color: #dfdfdf;

    width: 70%;
    margin-top: 75px;
    margin-left: 80px;
    padding: 10% 0;
    border-radius: 3%;
}

.total-suara-final {
    text-align: center;
    padding: 4%;
    font-weight: bold;
}