.inputArea {
    color: aqua;
}

input ::placeholder {
    color: aqua;
}

@media only screen and (max-width: 500px) {
    .log {
        display: none;
    }

    .inputt {
        display: none;
    }

    .nama {
        padding-top: 5%;
        padding-bottom: 5%;

    }
}
