.inputArea {
    color: rgb(0, 0, 0);
}

input ::placeholder {
    color: rgb(0, 0, 0);
}

@media only screen and (max-width: 600px) {
    .log {
        display: none;
    }

    .inputt {
        display: none;
    }

    .nama {
        padding-top: 5%;
        padding-bottom: 5%;

    }
}
